# VS Code folder (settings, debug configuration, etc.)
.vscode/

# Ignore pycache folder
__pycache__/

# Ignore notes TODO file
TODO.md

# Ignore generated graph representations of the neural network
*.sample
*.sample.svg
nn_winner
nn_winner.svg
nn_winner*

# Ignore saved neural network
nn_winner.pkl
winner.pkl

# Sandbox/test Python file
test.py

# Copy of the last working original/standalone simulation
newcar.bak.py

# Checkpoint files
neat-checkpoint-*
neat-generations

# Python virtual environment
venv/

# Simulation output redirects
simulation*.txt

